@import './variables.scss';

page {
  min-height: 100%;
  background-color: $neutral-50;
  color: $neutral-900;
  font-family: $font-family;
}

view,
text,
image,
scroll-view,
swiper,
button,
input,
textarea {
  box-sizing: border-box;
  font-family: $font-family;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  line-height: inherit;
  font-size: inherit;
  color: inherit;

  &::after {
    display: none;
  }
}
